# служебные файлы git

*.patch
*.bundle

# личные вспомогательные файлы

*.sh
*.diff
*.todo

# переменные окружения

.env
.env.test

# зависимости и сборки

build/
node_modules/

# prisma: базы данных и служебные файлы

prisma/migrations/
prisma/*.db
prisma/*.db-journal

# загружаемые файлы

assets/
